.card-acess {
    margin: 10px 10px 10px 20px
}

.return_acess {
    margin-top: 5px;
    width: 15px;
    height: 15px;
    float: left;
}

.linha_acess {
    margin-top: 0;
    border-bottom: solid 1px #afafae; 
    height: 10px; 
    width: 100%
}

.link_blur {
    color: #b3b2b2;
    float: left;
    font-weight: 500;
    margin-right: 5px;
    margin-left: 2px;
    cursor: pointer;
}

.link_ativo {
    color: #1b2f39;
    font-weight: 600;
    float: left;
    margin-right: 5px;
    margin-left: 2px;
    pointer-events: none;
}