.cliente {
    width: 150px;
    height: 150px;
    margin: 10px
}

.cliente-box{
    float: left;
}

.laranja{
    margin-top: 10px;
    background-color: #ea5b17;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}

.laranja_hover{
    color: #ea5b17;
    border: 2px solid #ea5b17;
    border-radius: 20px;
    background-color: transparent;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}

.loader-in-box {
    width: 50px;
}