<div class="linha_title"></div>
<div *ngIf="estadoLoad === false">
    <table class="table table-striped" [mfData]="unidades" #mf="mfDataTable" [mfRowsOnPage]="4" style="margin-bottom: 0%">
        <thead>
            <tr style="color: #fafafa; background-color: #1b2f39;">
                <th>
                    <mfDefaultSorter by="select"></mfDefaultSorter>
                </th>
                <th style="width: 40%; font-size: .8rem">
                    <mfDefaultSorter by="nome_fantasia">Nome</mfDefaultSorter>
                </th>
                <th style="width: 59%; font-size: .8rem">
                    <mfDefaultSorter by="endereco">Endereço</mfDefaultSorter>
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let unidades of mf.data ">
                <td>
                    <div class="radio-inline">
                        <input
                        style="margin-right: 10px; cursor: pointer;"
                        [(ngModel)]="unidade_selecionada"
                        type="radio" 
                        name="unidade_selecionada" 
                        value={{unidades.id}}
                        (input)="mudarParametro(unidades.id, unidades.nome_fantasia, unidades.endereco, unidades.numero, unidades.bairro, unidades.cidade, unidades.saldo)">
                    </div>

                    <!--mat-radio-group [(ngModel)]="unidade_selecionada">
                        <mat-radio-button class="example-margin" value={{unidades.id}} (click)="mudarParametro(unidades.id, unidades.nome_fantasia, unidades.endereco, unidades.numero, unidades.bairro, unidades.cidade, unidades.saldo)"></mat-radio-button>
                    </mat-radio-group-->
                </td>
                <td style="font-size: .8rem">{{unidades.nome_fantasia}}</td>
                <td style="font-size: .8rem">{{unidades.endereco}} - {{unidades.numero}} - {{unidades.bairro}} -
                    {{unidades.cidade}}</td>

            </tr> 
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" style="padding: .5rem">
                    <mfBootstrapPaginator class="mypag"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
    
</div>

<div class="row align-items-center" *ngIf="estadoLoad">
    <div class="col-sm">
        <div class="row justify-content-center">
            <div class="loader-in-box" style="margin-top: 10px">
                <app-loader></app-loader>
                <p class="text-center" style="font-size: 10px;">Carregando Unidades</p>
            </div>
        </div>
    </div>
</div>