.card-box {
    align-content: stretch; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 20px 10px 10px 10px
}

.card-box-teste {
    align-content: stretch; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 20px 0px 10px 10px
}

.title-box {
    color: black;
    font-size: 16px;
    margin-bottom: 0px;
}

.item-box{
    font-size: 14px;
    border-bottom: solid 1px #e2e2e2;
    margin-right: 40%;
    margin-bottom: 25px;
}

.item-box-secundário{
    font-size: 14px;
    border-bottom: solid 1px #e2e2e2;
    margin-right: 30%;
    margin-bottom: 25px;
}

.card{
    margin: 10px
}

.card-body{
    padding: 0;
}

.card-title {
    width: 100%;
    padding: 10px;
    margin: 0 0 5px 5px;
    border-bottom: solid gray 1px
}

.card-new {
    border-radius: 2px;
    color: rgba(0,0,0,0.54); 
    margin-left: 10px;
    font-size: 12px; 
    height: 100%; 
    padding: 10px 20px 20px 20px; 
    background-color: #FFFFFF
}

.card-new-col {
    border-radius: 2px;
    color: rgba(0,0,0,0.54); 
    font-size: 12px; 
    height: 100%; 
    padding: 10px 20px 20px 20px; 
    background-color: #FFFFFF
}

.rosa{
    background-color: #cb4386;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}


.rosa_hover{
    color: #c4c4c4;
    border: 2px solid #c4c4c4;
    border-radius: 20px;
    background-color: transparent;
    font-weight: 600;
}

.rosa_hover:hover{
    background-color: #cb4386;
    color: #fff;
    border: 2px solid transparent;
    font-weight: 600;
}

.new_user_img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.foot-margin {
    height: 20px;
}
.linha_title {
    margin-top: 0; 
    margin-left: 15px; 
    margin-right: 15px; 
    border-bottom: solid 2px #e2e2e2; 
    height: 10px; 
    width: 100%
}

.linha_title2 {
    margin-top: 0; 
    margin-bottom: 10px;
    border-bottom: solid 2px #e2e2e2; 
    height: 10px; 
    width: 100%
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 5px;
}

.extra{
    border: 0 ;
    font-size: 1rem;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 0;
    padding-left: 0;
}

.loader-in-box {
    width: 50px;
  }

.form-group {
    margin-bottom: 1rem;
    margin-right: 5rem;
}

.rossa_hover{
    color: #c4c4c4;
    border: 3px solid #c4c4c4;
    border-radius: 30px;
    background-color: transparent;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 1.3em;
}

.rossa_hover:hover{
    border: solid 3px #cb4386;
    color: #cb4386;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 1.3em;
    border-radius: 30px;
}

#alinha{
    text-align: center;
    padding: 20px 10px;
}

.label-teste {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0;
    color: #b3b2b2;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .15rem .15rem;
    font-size: .875rem;
    line-height: 1.5;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}
   input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
   margin: 0; 
}

.modal-content{
    margin-top: 100px;
    border: 0px solid rgba(0,0,0,.2);
    color: rgba(0,0,0,0.54);
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: .5rem .5rem 0rem .5rem;
    border-bottom: 0px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-footer{
    display: flex;
    align-items: end;
    justify-content: flex-end;
    padding: 0.7rem;
    border-top: 0px solid #e9ecef;
}

.modal-body{
    padding: 10px 20px 0 20px;
}
