<div *ngIf="estadoAcess">
    <app-acess-pages></app-acess-pages>
</div>

<div class="card-box">
  <div class = "card-new" style = "width: 100%;">
      
      <form [formGroup]="formEditarOperador" (ngSubmit)="editarOperador()">
      <div class="row" style = "margin-top: 10px">
          <div class="col-sm-5">
              <div class="form-group">
                  <input
                  type="text" 
                  class="form-control extra {{ nomeValido ? 'is-valid' : 'is-invalid'}}"
                  placeholder="Nome completo"
                  style="text-transform: capitalize"
                  formControlName="nome_operador"
                  #inputNome (input)="validaNome(inputNome)"
                  pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$"
                  required>
              </div>
              <div class="form-group">
                  <input
                  type="text" 
                  class="form-control extra {{ data_nascValido ? 'is-valid' : 'is-invalid'}}"
                  placeholder="Data de Nascimento"
                  formControlName="data_nascimento"
                  [textMask]="{mask: birth_mask}"
                  #inputData (input)="validaData(inputData)"
                  required>
              </div>
              <div class="col-sm">
                  <div class="row align-items-end" style = "margin-top: 25px">
                      <div class="col-sm-7" style="padding:0%;">
                          <p style="font-size: 1rem; margin-bottom: 5px;">Unidade de loja</p>
                      </div>
                      <div class="col-sm-3">
                          <button class="btn rosa_hover btn-sm btn-block" style="font-size: 12px; margin-top: 0px;  margin-bottom: 5px; padding: 1px" data-toggle="modal" data-target="#modalunidade">Alterar</button>
                          
                      </div>
                      <div style="margin-top: 0; border-bottom: solid 1px #e2e2e2; height: 0px; width: 80%"></div>
                  </div>   
              </div>
          </div>

          <div class="col-sm-5">
              <div class="form-group">
                  <input
                  type="text" 
                  class="form-control extra {{ cpfValido ? 'is-valid' : 'is-invalid'}}"
                  placeholder="CPF"
                  formControlName="cpf"
                  [textMask]="{mask: cpf_mask}"
                  #inputCpf (input)="validaCPF(inputCpf)"
                  required>
              </div>
              <div class="form-group">
                  <input
                  type="text" 
                  class="form-control extra {{ telefoneValido ? 'is-valid' : 'is-invalid'}}"
                  placeholder="Celular"
                  formControlName="telefone"
                  [textMask]="{mask: celular_mask}"
                  #inputTelefone (input)="validaTelefone(inputTelefone)"
                  required>
              </div>
          </div>
      </div>
  </form>

      <div>
          <button class="btn rosa btn-sm btn-block col-sm-2" style = "margin-top: 20px; float: left" [disabled]="estadoForm">Atualizar</button>

          <span class="btn rosa_hover_weight btn-sm btn-block col-sm-2" style="margin-top: 20px; margin-left: 20px; float: left"
              data-toggle="modal" data-target="#modalExcluir">Excluir Operador</span>
      </div>
  </div>
</div>

<!--MODAL-->

<div class="modal fade" id="modalunidade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 style="margin:0px; margin-left: 10px;">Escolha a unidade do operador de caixa</h5>
            
        </div>
                            
        <div class="modal-body" style="padding: 0rem 1rem 0rem 1rem;">
            <div>
                <app-unidadesmodal></app-unidadesmodal>
            </div>
        </div>
                            
        <div class="modal-footer" style="padding: 0rem 1rem 1rem 1rem">
            <button class="btn rosa_hover btn-sm btn-block col-sm-3" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">CANCELAR</button>
            <button class="btn rosa btn-sm btn-block col-sm-3" style="margin-top: 0px; font-size: 0.7rem;">OK</button>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 style="margin:0px;margin-left:10px;">Excluir Operador</h5>
        </div>      
        <div class="modal-body" style="padding: 0rem 1rem 0rem 1rem;">
            <div *ngIf="responseDeleteScreen === false">
            <p>Tem Certeza que deseja excluir esse operador?</p>
            </div>

            <div class="row align-items-center" style="height: 300px" *ngIf="estadoLoadDelete">
            <div class="col-sm">
                <div class="row justify-content-center">
                    <div class="loader-in-box" style="margin-top: 10px">
                        <app-loader></app-loader>
                        <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
                    </div>
                </div>
            </div>
            </div>
            
            <div *ngIf="responseDeleteScreen">
            <app-responses></app-responses> 
            </div>
        </div>
                                
        <div *ngIf="responseDeleteScreen===false" class="modal-footer" style="padding: 0rem 1rem 1rem 1rem">
            <button class="btn rosa_hover btn-sm btn-block col-sm-3"  style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">CANCELAR</button>
            <button class="btn rosa btn-sm btn-block col-sm-3" style="margin-top: 0px; font-size: 0.7rem;" 
            (click)="deleteOperador()">Excluir</button>
        </div>
        </div>
    </div>
    </div>