<div *ngIf="estadoAcess">
    <app-acess-pages></app-acess-pages>
  </div>

<div class="card-box">
    <div class = "card-new" style = "width: 100%;">
        <div class="row">
            <div class="col-sm">
                <h5 style="margin:0px;">Cobranças e Faturas</h5>
            </div>

            <div class="linha_title"></div>
        </div>
        <div class="row">
            <div class="col-sm" style="top: 10px;">
                <app-mensalidades></app-mensalidades>
            </div>
        </div>
        
    </div>
  </div>

  <div class="card-box">
      <div class = "card-new" style = "width: 100%;">
          <div class="row">
              <div class="col-sm">
                  <h5 style="margin:0px;">Assinatura</h5>
              </div>
  
              <div class="linha_title"></div>
          </div>
          <div class="row">
              <div class="col-sm" style="top: 10px;">
                  <button class="btn azul btn-sm btn-block col-sm-2" >Cancelar Assinatura</button>
              </div>
          </div>
          
      </div>
    </div>

    <div class="foot-margin"></div>
