.card-title {
    background-image: url("/assets/logotrocados.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
}

.rosa{
    margin-top: 10px;
    background-color: #BC5796;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
}

.rosa:hover{
    background-color: rgb(151, 41, 111);
}

.extra{
    border: 0 ;
    border-bottom: 1px solid rgb(211, 124, 179);
    border-radius: 0
}

.small{
    color: rgb(151, 41, 111);
}

.fullscreen{
    
  height: 100%;
  width: 100%;
  background:rgba(0,0,0,.8);
  position: fixed;
  left: 0;
  top: 0;
}

.box {

  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

a {
    cursor: pointer;
}