<div class="tr_navbar container d-flex justify-content-center" >
 <img class="tr_navbar_img"src="assets/logo-branco.svg">
</div>
<div class="card" style="width: 100%; border-color: transparent;">
    <div class="tr_presents_content">
      <div class="banner"></div>
      <div class="banner-text">

        <div class="canvas-title">
            <p class="title text-center" style="color: #fafafa; font-style: bold; width: 100%;">GARANTA SEMPRE <br>O TROCO.</p>
        </div>
          <div class="subtitle">
            <img class="five-stars" src="/assets/fivestar.svg">
          </div>
      </div>
      
      <div class="card-body btn-free-month">
          <button class="btn rosa btn-sm btn-block" (click)="exibirPainelCadastro()">EXPERIMENTE UM MÊS GRÁTIS</button>
      </div>
      <div class="text-center">
        <p style="color: #fafafa; font-size: 14px">Já tenho uma conta. 
            <label style="font-weight: 700; color: #37A5DA; cursor: pointer" routerLink="/empresa">Entrar.</label></p>
      </div>
      
      <hr />

    </div>
  </div>
  <br />
  
  <div class="fullscreen" *ngIf="estadoLoad">
      <app-loader class="box"></app-loader>
  </div>
  
