<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Cadastrar profissional de saúde</h5>
      </div>
    </div>

    <!-- Module de Resposta da Api -->
    <div *ngIf="responseScreen">
      <app-responses></app-responses> 
    </div>
    <!-- End of Modulo de Resposta da Api-->

    <!-- Module de Loader -->
    <div class="row align-items-center" style="height: 400px" *ngIf="estadoLoad">
      <div class="col-sm">
          <div class="row justify-content-center">
              <div class="loader-in-box" style="margin-top: 10px">
                  <app-loader></app-loader>
                  <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
              </div>
          </div>
      </div>
      </div>
      <!-- End of Module de Loader-->
    
    <div *ngIf="estadoLoad===false && responseScreen===false">
      <form [formGroup]="formProfissional">
        <div class="row" style = "margin-top: 30px"> 
          <div class="col-sm">
            <label class="label-teste texto">Nome</label>
              <div class="form-group">   
                <input
                  class="form-control {{ nomeValido ? 'is-valid' : 'is-invalid'}}"
                  formControlName="nome"
                  (input)="validaNome(input)">
              </div> 
              <label class="label-teste texto">CPF</label> 
              <div class="form-group">
                <input 
                  class="form-control {{ cpfValido ? 'is-valid' : 'is-invalid'}}" 
                  formControlName="cpf"
                  [textMask]="{mask: cpf_mask}"
                  (input)="validaCPF(input)">
              </div>
              <label class="label-teste texto">Endereço</label> 
              <div class="form-group">
                <input  
                  class="form-control {{ enderecoValido ? 'is-valid' : 'is-invalid'}}" 
                  formControlName="endereco"
                  (input)="validaEndereco(input)">
              </div>
              <label class="label-teste texto">Código profissional</label> 
              <div class="form-group">
                <input 
                  class="form-control {{ codValido ? 'is-valid' : 'is-invalid'}}" 
                  formControlName="codigo_profissional"
                  (input)="validaCodigo(input)">
              </div>
                
              <div class="row">
                  <div class="col-sm-7">
                    <label class="label-teste texto">Marca preferida</label>
                    <select class="form-control" name="marca" formControlName="id_marca_favorita">
                      <option selected disabled>ESCOLHA</option>
                      <option *ngFor="let marca of marcas" value="{{marca.id}}">{{marca.marca}}</option>
                    </select>
                    <p *ngIf="erro_marca!=null">{{erro_marca}}</p>
                  </div>
                </div>
            </div>   
      
            <div class="col-sm">
              <label class="label-teste texto">E-mail</label>
              <div class="form-group">   
                <input
                  class="form-control {{ emailValido ? 'is-valid' : 'is-invalid'}}"
                  formControlName="email"
                  (input)="validaEmail(input)">
              </div> 
              <label class="label-teste texto">Telefone</label> 
              <div class="form-group">
                <input 
                  class="form-control {{ telefoneValido ? 'is-valid' : 'is-invalid'}}" 
                  formControlName="telefone"
                  [textMask]="{mask: celular_mask}"
                  (input)="validaTelefone(input)">
              </div>
              <label class="label-teste texto">Data de nascimento</label> 
              <div class="form-group">
                <input 
                  class="form-control {{ data_nascValido ? 'is-valid' : 'is-invalid'}}" 
                  formControlName="data_nasc"
                  [textMask]="{mask: birth_mask}"
                  (input)="validaData(input)">
              </div>
              <label class="label-teste texto">Senha</label> 
              <div class="form-group">

                  <div *ngIf="togglePassword"
                  (click)="mostrarPassword()"
                  style= "height: 25px; width: 25px; z-index: 10; position: absolute; right: 45px; cursor: pointer; margin-top: 5px;">
                    <app-toggle-password></app-toggle-password>
                  </div>
                  
                <input
                  [type]="show_password ? 'text' : 'password'"
                  style="padding-right: 55px"
                  class="form-control {{ senhaValido ? 'is-valid' : 'is-invalid'}}" 
                  formControlName="senha"
                  (input)="validaSenha(input)">
              </div>

              <div>
                <label class="label-teste texto">Comissionado?</label>
                <div style="margin-top: 10px">
                    <ui-switch [checked]=comissionado color="black" switchColor="#ea5b17"
                    (change)="putProfissionalComissionado()"></ui-switch>
                </div>
                <p>Marque se deseja comissionar as receitas deste profissional de saúde.</p>
            </div>
            </div>
              
            <div class="col-sm">
              <div class="row" style ="margin-top: 50px">
                <div class="col-sm">
                  <div class="row justify-content-center">
                    <img class="new_user_img" style="width: 100%" src="{{img_profissional}}" >
                    <button class="btn btn-sm laranja_hover" style="margin-top: 15px" data-toggle="modal" data-target="#exampleModall">ADICIONAR FOTO</button>
                  </div>  
                </div>
              </div>
            </div>     
          </div>
          <button (click)="cadastrarProfissional()"
          class="btn btn-sm laranja" [disabled]="estadoForm">CADASTRAR</button> 
        </form>
    </div>
    </div>
</div>

<div class="card-box">
    <div class="card-new" style="width: 100%;">
      <div class="row head_module">
        <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
          <h5 style="margin:0px;">Gerenciar profissionais de saúde</h5>
        </div>
      </div>
      <div class="row" style = "margin-top: 30px"> 
        <div class="col-sm">
          <button class="btn btn-sm laranja_hover" style="margin-top: 15px" routerLink="/dashboard/gerenciar-profissional">GERENCIAR PROFISSIONAIS</button> 
        </div>
      </div>
    </div>
  </div>

   <!--                            MODAL                                                 -->

   <div class="modal fade" id="exampleModall" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="margin:0px; margin-left: 10px; color: rgba(0,0,0,0.54)">Adicione a foto do Profissional</h5>
        </div>
            
        <div class="modal-body" style="padding: 1rem 1rem 0rem 1rem;">
                <div class="linha_title2"></div>
          <div>
            <app-envia-imagem-profissional></app-envia-imagem-profissional>
        </div>
          
        </div>
            
        <div class="modal-footer">
          <button class="btn laranja btn-sm btn-block col-sm-4" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">FECHAR EDITOR</button>
        </div>
      </div>
    </div>
  </div>
