<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Cadastrar Produto</h5>
      </div>
    </div>

    <!-- Module de Resposta da Api -->
    <div *ngIf="responseScreen">
        <app-responses></app-responses> 
      </div>
      <!-- End of Modulo de Resposta da Api-->
  
      <!-- Module de Loader -->
      <div class="row align-items-center" style="height: 400px" *ngIf="estadoLoad">
        <div class="col-sm">
            <div class="row justify-content-center">
                <div class="loader-in-box" style="margin-top: 10px">
                    <app-loader></app-loader>
                    <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
                </div>
            </div>
        </div>
        </div>
        <!-- End of Module de Loader-->
      
      <div *ngIf="estadoLoad===false && responseScreen===false">
        
            <div class="row" style = "margin-top: 30px"> 
              <div class="col-sm-5">
                <form [formGroup]="formProduto">
                <label class="label-teste texto">Nome</label>
                <div class="form-group">   
                  <input
                    class="form-control {{ nomeValido ? 'is-valid' : 'is-invalid'}}"
                    formControlName="nome"
                    (input)="validaNome(input)">
                </div> 
                
                <label class="label-teste texto">Descrição</label> 
                <div class="form-group">
                  <textarea 
                    class="form-control resize-none {{ descricaoValida ? 'is-valid' : 'is-invalid'}}" 
                    rows="10"
                    formControlName="descricao"
                    (input)="validaDescricao()"></textarea>
                    <p>Limite de Caracteres: 500</p>
                </div>
              </form>

                <div class="row">
                  <div class="col-sm">
                    <label class="label-teste texto">Marca</label>
                    <select class="form-control" name="marca" [(ngModel)]="id_marca">
                      <option selected disabled>ESCOLHA</option>
                      <option *ngFor="let marca of marcas" value="{{marca.id}}">{{marca.marca}}</option>
                    </select>
                    <p *ngIf="erro_marca!=null">{{erro_marca}}</p>
                  </div>
                  
                  <div class="col-sm">
                    <label class="label-teste texto">Categoria</label>
                    <select class="form-control extra" name="categoria" [(ngModel)]="id_categoria">
                      <option selected disabled>ESCOLHA</option>
                      <option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{categoria.categoria}}</option>
                    </select>
                    <p *ngIf="erro_categoria!=null">{{erro_categoria}}</p>
                  </div>
                </div>
              </div>   
              
              <div class="col-sm">
                <div class="row" style ="margin-top: 50px">
                  <div class="col-sm">
                    <div class="row justify-content-center">
                      <div class="row justify-content-center" style="width: 100%">
                          <img class="new_user_img" src={{img_produto}} >
                      </div>
                      <button class="btn btn-sm laranja_hover" style="margin-top: 15px" data-toggle="modal" data-target="#exampleModall">ADICIONAR FOTO</button>
                    </div>
                  </div>
                </div>
              </div>     
            </div>
            <button class="btn btn-sm laranja" [disabled]="estadoForm" (click)=cadastrarProduto()>CADASTRAR</button> 
      </div>
  </div>
</div>

<!--div class="card-box">
    <div class="card-new" style="width: 100%;">
      <div class="row head_module">
        <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
          <h5 style="margin:0px;">Gerenciar Categorias</h5>
        </div>
      </div>

      <div *ngIf="responseScreenAddCategoria">
        <app-responses></app-responses> 
      </div>

      <div class="row align-items-center" style="height: 300px" *ngIf="estadoLoadAddCategoria">
          <div class="col-sm">
              <div class="row justify-content-center">
                  <div class="loader-in-box" style="margin-top: 10px">
                      <app-loader></app-loader>
                      <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
                  </div>
              </div>
          </div>
          </div>


      <div *ngIf="estadoLoadAddCategoria===false && responseScreenAddCategoria === false" class="row" style = "margin-top: 30px"> 
        <div class="col-sm">
          
            <div class="row" style = "margin-top: 20px"> 
                <div class="col-sm-5">
                  <label class="label-teste texto">Adicione uma Categoria</label>
                  <form [formGroup]="formAddCategoria">
                  <div class="form-group">   
                    <input
                      class="form-control {{ categoriaValida ? 'is-valid' : 'is-invalid'}}"
                      formControlName="categoria"
                      placeholder="Nome da Categoria"
                      id="categoria"
                      (input)="validaAddCategoria()">
                  </div> 
                </form>
                </div>
                
                <div class="col-sm-2 d-flex align-items-center">
                  <button class="float-left btn btn-sm laranja" [disabled]="estadoFormCategoria" (click)="cadastrarCategoria()">ADICIONAR</button> 
                </div>
              </div>

        </div>
      </div>
    </div>
  </div-->

  <div class="card-box">
      <div class="card-new" style="width: 100%;">
        <div class="row head_module">
          <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
            <h5 style="margin:0px;">Gerenciar Marcas</h5>
          </div>
        </div>

         <!-- Module de Resposta da Api -->
        <div *ngIf="responseScreenAddMarca">
          <app-responses></app-responses> 
        </div>
        <!-- End of Modulo de Resposta da Api-->

        <!-- Module de Loader -->
      <div class="row align-items-center" style="height: 300px" *ngIf="estadoLoadAddMarca">
          <div class="col-sm">
              <div class="row justify-content-center">
                  <div class="loader-in-box" style="margin-top: 10px">
                      <app-loader></app-loader>
                      <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
                  </div>
              </div>
          </div>
          </div>
          <!-- End of Module de Loader-->

        <div *ngIf="estadoLoadAddMarca===false && responseScreenAddMarca === false" class="row" style = "margin-top: 30px"> 
          <div class="col-sm">
            
              <div class="row" style = "margin-top: 20px"> 
              <div class="col-sm-5">
                <label class="label-teste texto">Adicione uma Marca</label>
                <form [formGroup]="formAddMarca">
                <div class="form-group">   
                  <input
                    class="form-control {{ marcaValida ? 'is-valid' : 'is-invalid'}}"
                    formControlName="marca"
                    placeholder="Nome da Marca"
                    id="marca"
                    (input)="validaAddMarca()">
                </div> 
              </form>
              </div>
              
              <div class="col-sm-2 d-flex align-items-center">
                <button class="float-left btn btn-sm laranja" [disabled]="estadoFormMarca" (click)="cadastrarMarca()">ADICIONAR</button> 
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Gerenciar Produtos Cadastrados</h5>
      </div>
    </div>
    <div class="row" style = "margin-top: 30px"> 
      <div class="col-sm">
        <button class="btn btn-sm laranja_hover" style="margin-top: 15px" routerLink="/dashboard/gerenciar-produto">GERENCIAR PRODUTOS</button> 
      </div>
    </div>
  </div>
</div>

   <!--                            MODAL                                                 -->

   <div class="modal fade" id="exampleModall" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="margin:0px; margin-left: 10px; color: rgba(0,0,0,0.54)">Adicione a foto do Produto</h5>
        </div>
            
        <div class="modal-body" style="padding: 1rem 1rem 0rem 1rem;">
                <div class="linha_title2"></div>
          <div>
            <app-envia-imagem-produto></app-envia-imagem-produto>
        </div>
          
        </div>
            
        <div class="modal-footer">
          <button class="btn laranja btn-sm btn-block col-sm-4" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">FECHAR EDITOR</button>
        </div>
      </div>
    </div>
  </div>
