<!-- Module de Loader -->
<div class="row align-items-center" style="height: 250px" *ngIf="estadoLoad">
  <div class="col-sm">
      <div class="row justify-content-center">
          <div class="loader-in-box" style="margin-top: 10px">
              <app-loader></app-loader>
              <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
          </div>
      </div>
  </div>
  </div>
  <!-- End of Module de Loader-->
<div *ngIf="estadoLoad===false" style="overflow: auto; white-space: nowrap;">

  <!--div class="scrollmenu"-->

  <div class="profi-box" *ngFor="let profissional of profissionais">
    <div style="width: 250px">
      <div class="row d-flex justify-content-center" style="margin-right: 15px">
        <img class="produto" src="{{mostrarImg(profissional.img)}}" >
        <p class="text-center" style="font-size: .9rem; font-weight: 500; margin-bottom: 0; width: 100%"><label>{{profissional.nome}}</label></p>
        <p class="text-center" style="font-size: .9rem; line-height: 1.2; margin-bottom: 0; width: 100%"><label>CPF {{profissional.cpf}}</label></p>
        <button class="btn btn-sm laranja_hover" (click)=editarProfissional(profissional)>EDITAR</button>
      </div>
    </div>
  </div>
  <!--/div-->
</div>