<div class="card-box">
    <div class="card-new" style = "width: 100%;">
        <div class="row">
            <div class="col-sm">
                <h5 style="margin:0px;">Operadores cadastrados</h5>
            </div>
            <div class="linha_title" style="margin-bottom:10px"></div>
        </div>  
        <div *ngIf="estadoLoad === false">
        <div *ngIf="estadoOperadores">
        <table class="table table-striped" style="margin-bottom: 0;" [mfData]="operadores" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
                <tr style = "color: #fafafa; background-color: #1b2f39;">
                <th style="width: 20%; font-size: .8rem;">
                    <mfDefaultSorter by="nome">Nome</mfDefaultSorter>
                </th>
                <th style="width: 20%; font-size: .8rem;">
                    <mfDefaultSorter by="unidade">Unidade</mfDefaultSorter>
                </th>
                <th style="width: 15%; font-size: .8rem;">
                    <mfDefaultSorter by="cpf">CPF</mfDefaultSorter>
                </th>
                <th style="width: 12%; font-size: .8rem;">
                    <mfDefaultSorter by="senha">Senha</mfDefaultSorter>
                </th>
                <th class="text-center" style="width: 10%; font-size: .8rem;">
                    <mfDefaultSorter by="senha">Editar</mfDefaultSorter>
                </th>
                <th class="text-center" style="width: 20%; font-size: .8rem;">
                    <mfDefaultSorter by="senha">Status</mfDefaultSorter>
                </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let operadores of mf.data">
                <td class="align-middle" style="font-size: .8rem;">{{operadores.nome}}</td>
                <td class="align-middle" style="font-size: .8rem;">{{operadores.unidade}}</td>
                <td class="align-middle" style="font-size: .8rem;">{{operadores.cpf}}</td>
                <td class="align-middle" style="font-size: .8rem;">{{operadores.tag}}</td>
                <td class="align-middle text-center">
                    <img style="cursor: pointer;" (click)="editarOperador(operadores)" class="new_user_img" src="/assets/lapis.svg">
                </td>
                <td class="align-middle text-center">
                    <ui-switch [checked]="operadores.ativo===1?true:false" size="small" 
                    (change)="onChange($event, operadores.id_unidade, operadores.id)"></ui-switch>
                </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                <td colspan="7">
                    <mfBootstrapPaginator class="mypag"></mfBootstrapPaginator>
                </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div *ngIf="estadoUnidade === false">
        <p class = "no-unity-msg text-center">Nenhuma Unidade Selecionada</p>
    </div>

    <div *ngIf="estadoOperadores === false">
        <p class = "no-unity-msg text-center">Nenhum operador cadastrado nesta unidade</p>
    </div>
    </div>
    <div class="row align-items-center" *ngIf="estadoLoad">
        <div class="col-sm">
            <div class="row justify-content-center">
                <div class="loader-in-box" style="margin-top: 10px">
                    <app-loader></app-loader>
                    <p class= "text-center" style="font-size: 10px;">Carregando Operadores</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    

    