<div class="card-box">
    <div class="card-new" style = "width: 100%;">
        <div class="row">
            <div class="col-sm">
                <h5 style="margin:0px;">{{titulo_pagina}}</h5>
            </div>
            <div class="linha_title" style="margin-bottom:10px"></div>
        </div>  

        <div *ngIf="estadoLoad === false">
        <table style="margin-bottom: 0;" class="table table-striped" [mfData]="unidades" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                <tr style = "color: #fafafa; background-color: #1b2f39">
                    <th style="width: 30%; font-size: .8rem;">
                        <mfDefaultSorter by="nome">Nome</mfDefaultSorter>
                    </th>
                    <th style="width: 40%; font-size: .8rem;">
                        <mfDefaultSorter by="endereco">Endereço</mfDefaultSorter>
                    </th>
                    <th style="width: 10%; font-size: .8rem;">
                        <mfDefaultSorter by="saldo">Saldo</mfDefaultSorter>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let unidades of mf.data">
                    <td style="font-size: .8rem;">

                        <div class="radio-inline">
                            <input
                            style="margin-right: 10px; cursor: pointer;"
                            [(ngModel)]="unidade_selecionada"
                            type="radio" 
                            name="unidade_selecionada" 
                            value={{unidades.id}}
                            (input)="mudarParametro(unidades.id, unidades.nome_fantasia, unidades.endereco, unidades.numero, unidades.bairro, unidades.cidade, unidades.saldo)">
                            {{unidades.nome_fantasia}}
                        </div>

                        <!--
                        <mat-radio-group [(ngModel)]="unidade_selecionada">
                                <mat-radio-button class = "example-margin" value={{unidades.id}} (click)="mudarParametro(unidades.id, unidades.nome_fantasia, unidades.endereco, unidades.numero, unidades.bairro, unidades.cidade, unidades.saldo)"></mat-radio-button>
                        </mat-radio-group>
                        -->
                        </td>
                    <td style="font-size: .8rem;">{{unidades.endereco}} - {{unidades.numero}} - {{unidades.bairro}} - {{unidades.cidade}}</td>
                    <td class="saldo_unidade">{{unidades.saldo | currency: 'BRL'}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator class="mypag"></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
                </table>
        </div>
        
        <div class="row align-items-center" *ngIf="estadoLoad">
            <div class="col-sm">
                <div class="row justify-content-center">
                    <div class="loader-in-box" style="margin-top: 10px">
                        <app-loader></app-loader>
                        <p class= "text-center" style="font-size: 10px;">Carregando Unidades</p>
                    </div>
                </div>
            </div>
        </div>
         
          
          
    </div>
</div>

<div class="card-box">
    <div class = "card-new" style = "width: 100%;">
        <div class="row">
            <div class="col-sm">
                <h5 style="margin:0px;">Unidade Escolhida</h5>
            </div>

            <div class="linha_title"></div>
        </div>
        <div class="row">
            <div class="col-sm" style="top: 10px;">
                <div *ngIf="status_unidade_select === false">
                    <p class = "no-unity-msg text-center">{{unidade_selecionada_nome}}</p>
                </div>

                <div *ngIf="status_unidade_select" style="font-size: 1rem">
                    <p class="enfase_azul" style = "float: left; margin-right: 5px">{{unidade_selected.nome_fantasia}}</p>
                    <p style = "float: left; margin-right: 5px;">  - {{unidade_selected.endereco}}, {{unidade_selected.numero}}, {{unidade_selected.bairro}} - </p>
                    <p class="saldo_unidade">{{unidade_selected.saldo | currency: 'BRL'}}</p>
                </div>
            </div>
        </div>
        
    </div>
  </div>