.rosa{
    background-color: #cb4386;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}

.azul{
    background-color: #129cd8;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}

.loader-in-box {
    width: 50px;
}

.linha_title {
    margin-top: 0; 
    margin-bottom: 10px;
    border-bottom: solid 2px #e2e2e2; 
    height: 10px; 
    width: 100%
}

.btn-group-sm>.btn, .btn-sm {
    padding: .15rem .15rem;
    font-size: .875rem;
    line-height: 1.5;
}