.card-box {
    align-content: stretch; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 20px 10px 10px 10px
}

.title-box {
    color: black;
    font-size: 16px;
    margin-bottom: 0px;
}

.item-box{
    font-size: 14px;
    border-bottom: solid 1px #e2e2e2;
    margin-right: 40%;
    margin-bottom: 25px;
}

.item-box-secundário{
    font-size: 14px;
    border-bottom: solid 1px #e2e2e2;
    margin-right: 30%;
    margin-bottom: 25px;
}

.card{
    margin: 10px
}

.card-body{
    padding: 0;
}

.card-title {
    width: 100%;
    padding: 10px;
    margin: 0 0 5px 5px;
    border-bottom: solid gray 1px
}

.card-new {
    border-radius: 2px;
    color: rgba(0,0,0,0.54); 
    margin-left: 10px;
    font-size: 12px; 
    height: 100%; 
    padding: 10px 20px 20px 20px; 
    background-color: #FFFFFF
}

.card-new-col {
    border-radius: 8px;
    color: rgba(0,0,0,0.54); 
    font-size: 12px; 
    height: 100%; 
    padding: 20px; 
    background-color: #FFFFFF
}

.rosa{
    background-color: #cb4386;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}

.azul{
    background-color: #129cd8;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}

.rosa_hover{
    color: #c4c4c4;
    border: 2px solid #c4c4c4;
    border-radius: 20px;
    background-color: transparent;
}

.rosa_hover:hover{
    background-color: #cb4386;
    color: #fff;
    border: 2px solid transparent;
}

.new_user_img {
    width: 120px;
    height: 120px;
}

.foot-margin {
    height: 20px;
}
.linha_title {
    margin-top: 0; 
    margin-left: 15px; 
    margin-right: 15px; 
    border-bottom: solid 2px #e2e2e2; 
    height: 10px; 
    width: 100%
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 5px;
    margin-bottom: 5px;
}

.extra{
    border: 0 ;
    font-size: 1rem;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 0;
    padding-left: 0;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: .5rem .5rem 0rem .5rem;
    border-bottom: 0px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    border-top: 0px solid #e9ecef;
}

.modal-content{
    margin-top: 100px;
    border: 0px solid rgba(0,0,0,.2);
    color: rgba(0,0,0,0.54);
}

.form-group {
    margin-bottom: 1rem;
    margin-right: 5rem;
}

.foot-margin {
    height: 20px;
}

.loader-in-box {
    width: 50px;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .15rem .15rem;
    font-size: .875rem;
    line-height: 1.5;
}