.card-box {
    align-content: stretch; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 20px 10px 10px 10px
}

#alinha{
    text-align: center;
    padding: 20px 10px;
}
#trocop{
    border: solid 3px #ccc;
    border-radius: 30px;
    padding: 10px 25px;
    font-size: 1.3em;
    color: #ccc;
    cursor: pointer;
}
.card-header{
    background-color: #fff;
}

#trocop:hover{
    border: solid 3px #129cd8;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1.3em;
    color: #129cd8;
    cursor: pointer;
}
#all{
    margin: 10px 0;
}

.card-new {
    border-radius: 2px;
    color: rgba(0,0,0,0.54); 
    margin-left: 10px;
    font-size: 12px; 
    height: 100%; 
    padding: 10px 20px 20px 20px; 
    background-color: #FFFFFF
}

.linha_title {
    margin-top: 0; 
    margin-left: 15px; 
    margin-right: 15px; 
    border-bottom: solid 2px #e2e2e2; 
    height: 10px; 
    width: 100%
}

.foot-margin {
    height: 20px;
}

.azul_hover{
    color: #c4c4c4;
    border: 3px solid #c4c4c4;
    border-radius: 30px;
    background-color: transparent;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 1.3em;
}

.azul_hover:hover{
    border: solid 3px #129cd8;
    color: #129cd8;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 1.3em;
    border-radius: 30px;
}