.card-box {
    align-content: stretch; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 20px 10px 10px 10px
}

.card{
    margin: 10px
}

.card-body{
    padding: 0;
}

.card-title {
    width: 100%;
    padding: 10px;
    margin: 0 0 5px 5px;
    border-bottom: solid gray 1px
}

.card-new {
    border-radius: 2px;
    color: rgba(0,0,0,0.54); 
    margin-left: 10px;
    font-size: 12px; 
    height: 100%; 
    padding: 10px 20px 20px 20px; 
    background-color: #FFFFFF
}

.linha_title {
    margin-top: 0; 
    margin-left: 15px; 
    margin-right: 15px; 
    border-bottom: solid 2px #e2e2e2; 
    height: 10px; 
    width: 100%
}

.card-new-col {
    border-radius: 8px;
    color: rgba(0,0,0,0.54); 
    font-size: 12px; 
    height: 100%; 
    padding: 20px; 
    background-color: #FFFFFF
}
#title-info{
    padding-top: -10px;
}

#linha1{
    border-bottom: solid 1px #ccc;
}
#btn{
    margin-top: 20px;
}
.form-inline .form-control{
    width: 75%;
}
.form-control{
    border: 0;
}

:host >>> my-date-picker >>> .mydp{
    border: 0 !important;
    border-bottom: 1px solid #e2e2e2 !important;
    margin-top: 10px;
}
#bmodal{
    font-size: 12px; 
    float: right;
    border: 1px solid #e2e2e2 !important;
    border-radius: 20px;
    padding: 0 30px;
    margin-bottom: -10px;
    cursor: pointer;
    margin-top: 10px;
}

#bmodal:hover{
    font-size: 12px; 
    background-color: #cb4386;
    color: #fff;
    float: right;
    border: 1px solid #e2e2e2 !important;
    border-radius: 20px;
    margin-top: 10px;
}

.rosa{
    margin-top: 10px;
    background-color: #cb4386;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}

.rosa_hover{
    margin-top: 10px;
    color: #c4c4c4;
    border: 2px solid #c4c4c4;
    background-color: transparent;
    border-radius: 20px;
}
.rosa_hover:hover{
    background-color: #cb4386;
    color: #fff;
    border: 2px solid transparent;
    font-weight: 600;
}

.btn-semborda{
    border-radius: 20px;
    background-color: transparent;
    border: solid 2px #ccc;
}
.btn-primary{
    border-radius: 20px;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: .5rem .5rem 0rem .5rem;
    border-bottom: 0px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    border-top: 0px solid #e9ecef;
}

.modal-body{
    padding: 10px 20px 0 20px;
}

.modal-content{
    margin-top: 100px;
    border: 0px solid rgba(0,0,0,.2);
    color: rgba(0,0,0,0.54);
}

#todos{
    padding-bottom: 5px;
    margin-bottom: 10px;
}
#botaotodos{
    float: right;
    margin-right: 20px;
}
.linha_acess {
    margin-top: 0; 
    margin-left: 25px; 
    margin-right: 15px; 
    border-bottom: solid 1px #afafae; 
    height: 10px; 
    width: 100%
}

.card-acess {
    margin: 20px 10px 10px 10px
}

.page_acess {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    font-size: 1.15rem;
}

.page_acess_ativo {
    color: #1b2f39;
    font-weight: 600;
    float: left;
}

.page_acess_blur {
    color: #b3b2b2;
    float: left;
    font-weight: 600;
    
}

.return_acess {
    width: 20px;
    height: 20px;
    float: left;
}

.azul{
    margin-top: 10px;
    background-color: #129cd8;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}

.texto-rosa{
    font-weight: 500;
    font-size: 1rem;
    color: #cb4386;
    margin-bottom: 0rem;
}

.texto{
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0rem;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .15rem .15rem;
    font-size: .875rem;
    line-height: 1.5;
}

.mypag /deep/ .pagination .current{
    color: #199dd9;
    font-weight: 800;
    font-size: 1rem;
  }
  
  .mypag /deep/  .pagination .disabled{
    color: #199dd9;
    font-size: 1rem;
  }
  
  .mypag /deep/  .pagination a:hover .pagination button:hover{
    background-color: transparent;
    color: #199dd9;
    font-size: 1rem;
  }
  .mypag /deep/  .pagination a{
    color: #c4c4c4;
    font-size: 1rem;
    font-weight: 600;
  }
  .mypag /deep/  .pagination{
    text-align: center;
    justify-content: center;
    padding: 0;
    font-size: 1rem;
    margin-bottom: 0rem;
  }
  
  .mypag /deep/ .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 0px solid #dee2e6;
  }
  
  .mypag /deep/ .page-item.active .page-link {
    z-index: 1;
    color: #007bff;
  }

  .table td, .table th {
    padding: .65rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .no-unity-msg {
    margin: 20px;
    font-size: .8rem;
  }

  .loader-in-box {
    width: 50px;
  }