<div class="card shadow-lg  bg-white rounded " style="width: 20rem;font-family: roboto;">
  <div class="card-body">
    <div class="card-title"></div>
    
    <form [formGroup]="formLogarPJ" (ngSubmit)="logarPJ()">
      <div class="form-group">
        <input
          type="text" 
          class="form-control extra"
          placeholder="CPF"
          formControlName="cpf"
          [textMask]="{mask: cpf_mask}"
          required
        >
      </div>
      <div class="form-group">
        <div *ngIf="togglePassword"
        (click)="mostrarPassword()"
        style= "height: 25px; width: 25px; z-index: 10; position: absolute; right: 25px; cursor: pointer; margin-top: 5px;">
          <!--p style="margin-top: 10px; font-size: 10px"
          (click)="mostrarPassword()">{{text_toggle}}</p-->
          <app-toggle-password></app-toggle-password>
        </div>
        <div style= "z-index: 9">
            <input 
            [type]="show_password ? 'text' : 'password'"
            style="padding-right: 30px"
            class="form-control extra" 
            placeholder="Senha"
            formControlName="senha"
            (input)="mostrarTogglePassword()"
            required
          >
        </div>
      </div>
      <button type="submit" class="btn black btn-sm btn-block">Entrar</button>
      <swal #swalWarning title="Atencão!" text="CPF ou Senha estão incorretos. Tente novamente!"></swal>
    </form>
    <hr />

    <p class="card-text text-center">
        Esqueceu sua senha? <a routerLink="/" style="color: #37A5DA; cursor: pointer;">Recupere</a>
      </p>

    <!--
    <p class="small text-center" style = "color: #BC5796">O CPF ou a Senha inseridos não pertencem a uma conta. Que tal verificar seus dados e tentar novamente? :)</p>
    -->
  </div>
</div>
<br />
<div class="card shadow-lg  bg-white rounded" style="width: 20rem; font-family: roboto;">
  <div class="card-body">
    <p class="card-text text-center">
      Não tem uma conta? <a (click)="exibirPainelCadastro()" style="color: #37A5DA; cursor: pointer;">Cadastre-se</a>
    </p> 
  </div>
</div>

<div class="fullscreen" *ngIf="estadoLoad">
    <app-loader class="box"></app-loader>
</div>