<div>
  <app-unidades></app-unidades>
</div>

<div class="card-box">
  <div class = "card-new" style = "width: 100%;">
    <div class="row">
      <div class="col-sm">
        <h5 style="margin:0px;">Saldo Disponível</h5>
      </div>
      <div style="margin-top: 0; margin-left: 15px; margin-right: 15px; border-bottom: solid 2px #e2e2e2; height: 10px; width: 100%"></div>
    </div>
          
    <div class="row" style = "margin-top: 10px">
      <div class="col-sm d-flex align-items-center" style="border-right: solid 1px #e2e2e2; ">
        <!-- Module de Loader -->
        <div class="row align-items-center" style="height: 200px; width: 100%;" *ngIf="estadoLoad">
          <div class="col-sm">
            <div class="row justify-content-center">
              <div class="loader-in-box" style="margin-top: 10px">
                <app-loader></app-loader>
                <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Module de Loader-->
        
        <div *ngIf="status_saldo && estadoLoad === false && status_unidade_select">
          <div class="row justify-content-center" style="height: 200px">
            <p style="font-size: 4rem; font-weight: 700; margin-bottom: 0; margin-right: 50px; margin-left: 50px;line-height: 2.5">{{saldo_exibir | currency: 'BRL'}}</p>
            <p style="font-size: 1rem">Saldo disponível para transformar em reserva de troco.</p>
          </div>
        </div>

        <div class="row align-items-center" style="height: 200px; width: 100%;" *ngIf="status_saldo === false && estadoLoad === false">
          <div class="col-sm">
            <div class="row justify-content-center" >
              <p  class= "text-center"style="font-size: 1rem">{{msg_no_saldo}}</p>
            </div>
          </div>
        </div>

        <div class="row align-items-center" style="height: 200px; width: 100%;" *ngIf="status_unidade_select === false && estadoLoad === false">
          <div class="col-sm">
            <div class="row justify-content-center" >
              <p  class= "text-center"style="font-size: .8rem;">{{unidade_selecionada_nome}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm" style="padding-left: 30px">
        <div *ngIf="errors_input">
          <app-errors></app-errors>
        </div>
      
        <div *ngIf="estadoLoadTransf === false && tela2 === false && tela3 === false">
          <div class="row align-items-center" style="margin-top: 40px">
            <div class="col-sm" style="font-size: 1rem">
              <p style="font-weight:700;">Defina o valor que será transferido para reserva de troco:</p>
              <form [formGroup]="formTransferenciaRecebiveis">
                <div class="form-group" style="margin-bottom: 0;">
                  <input 
                    type="text" 
                    class="form-control extra"
                    placeholder="R$ 0,00"
                    formControlName="valor"
                    value={{valor}}
                    (input)="validaValorTransferencia()"
                    currencyMask
                    [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',', teste: '00' }"
                    required>
                </div>
              </form>
              <button class="btn rosa btn-sm" (click)="calcularValorTransferencia()" style="padding-left: 50px; padding-right: 50px;">Solicitar</button> 
            </div>
          </div>
        </div>

        <!--loader-->
        <div class="row align-items-center" style="height: 200px; width: 100%;" *ngIf="estadoLoadTransf">
          <div class="col-sm">
            <div class="row justify-content-center">
              <div class="loader-in-box" style="margin-top: 10px">
                <app-loader></app-loader>
                <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
              </div>
            </div>
          </div>
        </div>
        <!--loader-->

        <div *ngIf="estadoLoadTransf === false && tela2 && tela3 === false">
          <div class="row align-items-center">
            <div class="col-sm" style="font-size: 1rem">
              <p style="font-weight:700;">Confirmaçao de solicitação</p>
              <p style="margin-bottom: 0">Valor solicitado:&nbsp;<span class="texto-rosa">{{valor_solic | currency: 'BRL'}}</span></p>
              <p style="margin-bottom: 0">Taxa administrativa (<span>{{taxa}}%</span>):&nbsp;<span class="texto-rosa">{{valor_taxa | currency: 'BRL'}}</span></p>
              <div style="margin-top: 0; margin-left: 0; margin-right: 15px; border-bottom: solid 1px #e2e2e2; height: 10px; width: 70%"></div>
              <p>Valor que será transferido:&nbsp;<span class="texto-rosa">{{valor_transferencia_taxada | currency: 'BRL'}}</span></p>
              <button class="btn rosa_hover btn-sm" style="padding-left: 50px; padding-right: 50px;">Cancelar</button>
              <button class="btn rosa btn-sm" (click)="solicitarTransferencia()" style="padding-left: 50px; padding-right: 50px;">Solicitar</button> 
            </div>
          </div>
        </div>

          <div *ngIf="estadoLoadTransf === false && tela2 === false && tela3">
            <div class="row align-items-center" style="margin-top: 40px">
              <div class="col-sm" style="font-size: 1rem">
                <p style="font-weight:700;">Solicitação feita com sucesso!</p>
                <p>A solicitação do valor de&nbsp;<span class="texto-rosa">{{valor_solic | currency: 'BRL'}}</span> foi recebida com sucesso.
                    Em até um dia útil o valor estará na sua conta como reserva de troco!</p>
                <button class="btn rosa btn-sm" (click)="voltarTela1()" style="padding-left: 50px; padding-right: 50px;">OK</button> 
              </div>
            </div>
          </div>
        </div>    
    </div>  
  </div>
</div>

<div class = "row" style="padding: 0; margin: 10px 10px 10px 10px">
  <div class="col-sm-6" style="padding: 0; ">
    <div class="card-box" style = "margin-top: 10px;">
      <div class = "card-new-col" style = "width: 100%;">
        <div class="row">
          <div class="col-sm">
            <h5 style="margin:0px;">Consultar Recebíveis</h5>
          </div>
          <div class="linha_title"></div>
        </div>
        <div class="row" style = "margin-top: 10px">
          <div class="col-sm">
            <p style="font-size: 1rem">Aqui você poderá consultar todas as trocas recebidas pelos operadores de caixa da unidade selecionada.</p>
            <button class="btn blue btn-sm" style="padding-left: 50px; padding-right: 50px;" routerLink="/dashboard/extrato-recebiveis">Consultar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm" style="padding: 0; margin: 10 10 10 0">
    <div class="card-box-teste" style = "margin-top: 10px">
      <div class = "card-new-col" style = "width: 100%; margin-left: 0;">
        <div class="row">
          <div class="col-sm-6">
            <h5 style="margin:0px;">Consultar Transferências</h5>
          </div>
          <div class="linha_title"></div>
        </div>
        <div class="row" style = "margin-top: 10px">
          <div class="col-sm">
            <p style="font-size: 1rem">Todas as transferências dos recebíveis para reserva de troco podem ser consultadas aqui.</p>
            <button class="btn blue btn-sm" style="padding-left: 50px; padding-right: 50px;" routerLink="/dashboard/extrato-transferencias">Consultar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>