 <!-- Loader -->
 <div style="z-index: 2">
    <div class="row align-items-center" style="height: 500px" *ngIf="estadoLoad">
      <div class="col-sm">
          <div class="row justify-content-center">
              <div class="loader-in-box" style="margin-top: 10px">
                  <app-loader></app-loader>
                  <p class= "text-center" style="font-size: 10px">Carregando Dashboard</p>
              </div>
          </div>
      </div>
    </div>
  </div>
  <!-- End of Loader -->

<div [@graficoAnim]="estadoGrafico">
<div class="card-box">
  <div class = "card-new" style = "width: 100%;">
    
    
      <div class="card-stats card-raised card" id="semargin">
        <div class="card-body" id="sempad">
          <div class="row">
           <div class="col-12 col-md-12" id="title-info"><h4>Selecione a unidade e o período</h4></div>
            <form class="col-md-12 form" #f="ngForm" (ngSubmit)="buscaLojas(f)"  id="formulario">
              <div class="col-12 col-md-4" id="left">
                <div class="valor">
                  <select class="form-control extra" name="loja" [(ngModel)]="model3" #loja="ngModel">
                    <option *ngFor="let nome of nomes" value="{{nome.id}}">{{nome.nome_fantasia}}</option>
                  </select>
                </div>
              </div>

              <div class="col-12 col-md-3" id="left">
                <div class="valor">
                    <my-date-picker name="data_inicio" [options]="myDatePickerOptions1"
                    [(ngModel)]="inicio" required></my-date-picker>
                </div>
              </div>

              <div class="col-12 col-md-3" id="left">
                <div class="valor">
                    <my-date-picker name="data_fim" [options]="myDatePickerOptions2"
                    [(ngModel)]="fim" required></my-date-picker>
                </div>
              </div>

              <div class="col-12 col-md-2" id="left">
                <div class="valor">
                  <button type="submit" class="btn btn-lilas">Buscar</button>
                </div>
              </div>
            </form>
          </div>
          <!-- fim row -->
        </div>
      </div>

    <div class="col-12 col-md-12" id="grafico">
        
    </div>
    
    
    <div class="col-md-12 legenda">
      <span class="qnt"><strong>Valores de Trocos</strong></span>
      <span class="valores"><strong>Quantidades de Trocos</strong></span>
    </div>
     <div class="col-12 col-md-12" id="resto">
       <div class="card-stats card-raised card">
         <div class="card-body">
           <div class="row">
            <div class="col-12 col-md-12" id="title-info"><h4>Informações Gerais</h4></div>
             <div class="col-12 col-md-4" id="mt">
               <div class="valor">
                 <div class="info">
                   <div>
                     <div class="icon icon-primary">
                        <i class="material-icons azul">local_atm</i>
                     </div>
                     <h3 class="infor-title">{{troco_atual1 | currency: 'BRL'}}</h3>
                     <h6 class="valor-title azul">Reserva de troco atual</h6>
                   </div>
                 </div>
               </div>
             </div>

             <div class="col-12 col-md-4" id="blados">
                <div class="valor">
                  <div class="info">
                    <div>
                      <div class="icon icon-primary">
                         <i class="material-icons lilas">monetization_on</i>
                      </div>
                      <h3 class="infor-title">{{troco_passado1 | currency: 'BRL'}}</h3>
                      <h6 class="valor-title lilas">Total de troco passados</h6>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-4" id="mt">
                  <div class="valor">
                    <div class="info">
                      <div>
                        <div class="icon icon-primary">
                           <i class="material-icons lilas">attach_money</i>
                        </div>
                        <h3 class="infor-title">{{troco_depositado1 | currency: 'BRL'}}</h3>
                        <h6 class="valor-title lilas">Reserva total de troco</h6>
                      </div>
                    </div>
                  </div>
                </div>

           </div>
           <!-- fim row -->
         </div>
       </div>
     </div>
    
     <div class="row">
        <div class="col-12 col-md-12">
          <div class="col-12 col-md-6" id="nt">
            <div class="card-chart card">
              <div class="card-header">
                <h2 class="card-title">Números Totais</h2>
              </div>
              <div class="card-body" >
                <div id="centralizar">
                  <div  class="info-total1">
                      <div id="valores">Quantidade de<br/> troco passados</div>
                      <h3 class="azul" id="semmtop">{{num_troco}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6"  id="nt">
              <div class="card-chart card">
                <div class="card-header">
                  <h2 class="card-title">Números Totais</h2>
                </div>
                <div class="card-body">
                    <div id="centralizar">
                      <div  class="info-total2">
         
                          <div id="valores">Valores de<br/> trocos passados</div>
                          <h3 class="lilas" id="semmtop">{{valor_troco | currency: 'BRL'}}</h3>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-12">
          <div class="col-12 col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Ranking Operadores de Caixa</h4>

              </div>
              <div class="card-body">
                <div class="table-responsive">
                  
                  <table  class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 40px"></th>
                            <th>Unidade</th>
                            <th>Operador</th>
                            <th>Nº Trocos</th>
                            <th>Valor Troco</th>
                            <th>Media Valores</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let op of ranking1, let i = index">
                          <td>{{i+1}}</td>
                            <td>{{op.unidade}}</td>
                            <td>{{op.operador}}</td>
                            <td>{{op.num_troco}}</td>
                            <td>{{op.valor_troco | currency: 'BRL'}}</td>
                            <td>{{op.media_valor_troco | currency: 'BRL'}}</td>
                        </tr>
                    </tbody>
                </table>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="ranking_unidades">
        <div class="col-12 col-md-12">
          <div class="col-12 col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Ranking de Unidades</h4>

              </div>
              <div class="card-body">
                <div class="table-responsive">
                  
                  <table  class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 40px"></th>
                            <th>Unidade</th>
                            <th>Nº Trocos</th>
                            <th>Valor Troco</th>
                            <th>Media Valores</th>
                            <th>Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let unidade of ranking_unidades_list, let i = index">
                            <td>{{i+1}}</td>
                            <td>{{unidade.unidade}}</td>
                            <td>{{unidade.num_trocos}}</td>
                            <td>{{unidade.valor_trocos | currency: 'BRL'}}</td>
                            <td>{{unidade.media_trocos | currency: 'BRL'}}</td>
                            <td>{{unidade.saldo_atual}}</td>
                  
                          </tr>
                        
                        
                    </tbody>
                    
                </table>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-12">
          <div class="col-12 col-md-6" id="nt">
            <div class="card-chart card">
              <div class="card-header">
                <h2 class="card-title">Período do dia</h2>
              </div>
              <div class="card-body" id="centralizar">
                <div class="infototal">
                  <h5 id="menor">Número médio de trocos totais passados</h5>
                  <div id="graficop1"></div>
                </div>
               
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6"  id="nt">
              <div class="card-chart card">
                <div class="card-header">
                  <h2 class="card-title">Periodo do dia</h2>
                </div>
                <div class="card-body" id="centralizar">
                  <div class="infototal">
                    <h5 id="menor">Número médio de valores totais de trocos passados</h5>
                    <div id="graficop2"></div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
      </div>
    
  </div>
</div>

<div>