.card-box {
    align-content: stretch; 
    display: flex; 
    flex-wrap: wrap; 
}
.card-stats .icon{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
}

.card-stats .valor{
    text-align: center;
    position: relative;
    padding: 15px 0;
}

.info .icon i{
    font-size: 2.3em;
}

.material-icons{
    display: inline-block;
    font: normal;
    speak-as: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.info .info-title{
    margin: 15px 0 5px;
    padding: 0 15px;
    color: #2c2c2c;
    font-weight: 700;
    margin-bottom: 0px !important;
}

h3{
    font-size: 2em;
    line-height: 1.4em;
    display: block;
}

h6{
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
    line-height: 1.2;
}
.row{
    display: flex;
}
.card {
    margin-bottom: 20px;
}
#nt{
    float: left;
}
#grafico{
    background-color: #2c2c2c;
    padding-bottom: 80px;
}

#resto{
    margin-top: -30px;
}
#title-info{
    border-bottom: solid 1px #ccc;
}
.info-total1{
    width: 250px;
    height: 250px;
    border: solid 15px #199dd9;
    border-radius: 50%;
    text-align: center;
}
.info-total2{
    width: 250px;
    height: 250px;
    border: solid 15px #cc4487;
    border-radius: 50%;
    text-align: center;
}
#centralizar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size: 1.3em;
}
#semmtop{
    margin-top: 5px !important;
}
#valores{
    margin-top: 40px;
}
.azul{
    color: #199dd9;
}
.lilas{
    color: #cc4487;
}
.card-header {
    background-color: #fff !important;
    text-align: center;
}
.infototal{
    width: 300px;
    text-align: center;
}
#menor{
    color: #c1c1c1;
    margin-bottom: 20px;
}
.btn-lilas{
    background-color: #cc4487;
    color: #fff; 
}
#left{
    float: left;
}
#semargin{
    margin-bottom: 0px;
    background-color: #2c2c2c;
    color: #fff;
    border-radius: 0px;
}
#sempad{
    padding-top: 5px;
    padding-bottom: 0px;
}

#blados{
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    margin-top: 10px;
}

#mt{
    margin-top: 10px;
}

.legenda{
    margin-top: -70px;
    margin-bottom: 40px;
    color: #fff;
    text-align: right;
}
.qnt{
    background-color: #cc4487;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 20px;
}
.valores{
    background-color: #fff;
    color: #000;
    padding: 5px 10px;
    border-radius: 10px;
}
.extra{
    border: 0 ;
    font-size: 1rem;
    border-bottom: 1px solid #e2e2e2;
    color: #fff;
    background-color: #2c2c2c;
    border-radius: 0;
    padding-left: 0;
}

:host >>> my-date-picker >>> .mydp .selection{
    background-color: #2c2c2c !important;
    color: #fff !important;
    border-radius: 0 !important;
    border: 0 !important;
}

:host >>> my-date-picker >>> .mydp{
    border: 0 !important;
    border-bottom: 1px solid #e2e2e2 !important;
}
:host >>> my-date-picker >>> .btnpicker {
    background-color: #2c2c2c !important;
    color: #fff !important;
}
:host >>> my-date-picker >>> .mydp .btnclear{
    background-color: #2c2c2c !important;
    color: #fff !important;
}

.loader-in-box {
    width: 50px;
}

